Source: #PACKAGE#
Section: misc
Priority: extra
Maintainer: Pantelis Koukousoulas <pktoss@gmail.com>
Build-Depends: #BUILD_DEPS#
Standards-Version: 3.9.3
Homepage: http://github.com/pkt/pkt-bundle-packages
#Vcs-Git: http://github.com/pkt/pkt-bundle-packages

Package: #PACKAGE#
Architecture: all
Depends: 
Description: Metapackage
 <insert long description, indented with spaces>
